<button id="add-new-button">Add New</button>
<section id="add-new-form" class="hide-form">
  <h2>Files</h2>
  <form action="/file/upload/folder/<%= currentFolderId %>" method="POST" enctype="multipart/form-data">
    <label for="upload-files">Upload files</label>
    <input type="file" name="uploadedFiles" onchange="form.submit()" id="upload-files" multiple required>
  </form>
  <h3>Or</h3>
  <h2>Folder</h2>
  <form action="/folder/<%= currentFolderId %>/create" method="POST">
    <input type="text" name="folderName" placeholder="New folder name" required>
    <button type="submit">Create folder</button>
  </form>
</section>

<script>
  const addNewButton = document.querySelector('#add-new-button');
  const addNewForm = document.querySelector('#add-new-form');

  addNewButton.addEventListener('click', () => {
    addNewForm.classList.toggle('hide-form');
  });
</script>