<% if (locals.errors) { %>
  <section class="form-errors">
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <p>Please try again</p>
  </section>
<% } %>