<h1>Log In</h1>
<p>to continue to File Uploader</p>
<%- include('./formErrors') %>
<form action="/log-in" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <section>
    <button type="submit">Log In</button>
  </section>
</form>
<p>No account? <a href="/sign-up">Create one!</a></p>