<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Add New</h1>
  <h2>Files</h2>
  <form action="/file/upload" method="POST" enctype="multipart/form-data">
    <label for="upload-files">Upload files</label>
    <input type="file" name="uploadedFiles" onchange="form.submit()" id="upload-files" multiple required>
  </form>
  <h3>Or</h3>
  <h2>Folder</h2>
  <form action="/folder/create" method="POST">
    <input type="text" name="folderName" placeholder="New folder name" required>
    <button type="submit">Create folder</button>
  </form>
</body>
</html>