<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Add New</h1>
  <form action="/file/upload" method="POST" enctype="multipart/form-data">
    <label for="upload-files">Upload files</label>
    <input type="file" name="uploadedFiles" onchange="form.submit()" id="upload-files" multiple required>
  </form>
  <p>Or</p>
  <form action="/create-folder" method="POST">
    <button type="submit">New folder</button>
  </form>
</body>
</html>