<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Error <%= error.status %></title>
</head>
<body>
  <a href="/">&lt; Back To Home</a>
  <h1>Error <%= error.status %>: <%= error.message %></h1>
</body>
</html>