<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploader</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <% if (locals.user) { %>
    <h1>Hello, <%= user.username %></h1>
  <% } else { %>
    <h1>Hello, world!</h1>
  <% } %>

  <main>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="upload-files">Upload Files</label>
      <input type="file" name="uploadedFiles" required>
      <button type="submit">Confirm Upload</button>
    </form>
  </main>
</body>
</html>