<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>File Uploader</title>
</head>
<body>
  <% if (locals.user) { %>
    <%- include('./partials/nav') %>

    <main>
      <h1>Hello, <%= user.username %></h1>
      <%- include('./partials/folderContent') %>
    </main>

    <% } else { %>
    <%- include('./partials/logInForm') %>
  <% } %>
  
</body>
</html>